{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    <div class="row">
        <div id="login-help" class="col-sm-7 well">
            <h3>
                {% if app.user %}
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				<a href="{{ path('catalogue_dashboard') }}">
					GO to Dashboard
				</a>
                {% else %}
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				<a href="{{ path('security_login') }}">
					Click Here to Login
				</a>
                {% endif %}
            </h3>
		</div>

    </div>
{% endblock %}