@import "bootswatch-flatly/variables";

//
// Typography
// --------------------------------------------------

p, ul, ol {
    font-size: $font-size-large;
    margin-bottom: 1.5em;
}

li {
    margin-bottom: .5em;
}

// Code
code {
    background: $gray-lighter;
    color: $brand-primary;
}

// Text labels
.text-danger,
.text-danger:hover {
    color: $brand-danger;
}

//
// Icons
// --------------------------------------------------

i {
    margin-right: .25em;
}

//
// Page elements
// --------------------------------------------------

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

// Header
header {
    margin-bottom: 2em;

    ul.nav li {
        margin-bottom: 0;
    }

    .locales a {
        padding-right: 10px;
    }
}

// Body contents
.body-container {
    -webkit-flex: 1;
    flex: 1;

    // needed to prevent pages with a very small height and browsers not supporting flex
    min-height: 600px;

    #main h1,
    #main h2 {
        margin-top: 0;
    }
}

// Sidebar
#sidebar {
    .section {
        margin-bottom: 2em;
    }

    p {
        font-size: $font-size-base;

        & + p {
            margin: 1.5em 0 0;
        }
    }
}

// Footer
footer {
    background: $gray-lighter;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;

    p {
        color: $gray-dark;
        font-size: $font-size-small;
        margin-bottom: .25em;
    }

    #footer-resources {
        text-align: right;

        i {
            color: $gray-dark;
            font-size: 1.5 * $font-size-large;
            margin-left: .5em;
        }
    }
}

// Confirmation Modal Window
#confirmationModal {
    .modal-dialog {
        width: 500px;
    }

    .modal-footer {
        button {
            min-width: 75px;
        }
    }
}

//
// Forms
// --------------------------------------------------

// Form errors
.form-group.has-error .form-control {
    border-color: $brand-danger;
}
.form-group.has-error .control-label {
    color: $brand-danger;
}
.form-group.has-error .help-block {
    background-color: $brand-danger;
    color: #FFF;
    font-size: $font-size-base;
    padding: 1em;

    ul {
        margin-bottom: 0;
    }
}

textarea {
    max-width: 100%;
}

//
// Page: 'Technical Requirements Checker'
// --------------------------------------------------
body#requirements_checker {
    header h1 {
        margin-bottom: 0;
        margin-top: 0;

        span {
            font-size: 120%;
            opacity: .7;
            padding: 0 5px;
        }
    }

    .panel li {
        margin-bottom: 1em;
    }
}

//
// Page: 'homepage'
// --------------------------------------------------
body#homepage {
    text-align: center;
}

//
// Page: 'login'
// --------------------------------------------------
body#login {
    #login-users-help p {
        font-size: $font-size-base;
        line-height: $line-height-base;

        &:last-child {
            margin-bottom: 0;
        }

        .label {
            margin-right: 5px;
        }

        .console {
            display: block;
            margin: 5px 0;
            padding: 10px;
        }
    }
}
@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}