{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catalogue creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success"   value="Create" />
    {{ form_end(form) }}

    <div>
            <a href="{{ path('catalogue_index') }}">Back to the list</a>
        </div>
{% endblock %}
{%block js %}
<script>
$(document).ready(function(){
	$('#catalogue_isbn').change(function(){
	var isbn = $(this).val();
		$.ajax({
			type: "GET",
			url: "search",
			contentType: 'application/json; charset=UTF-8',
			data: {
			   bookisbn: isbn
			},
			dataType: "json",
			success: function(response) {
				if(response){
					$('#catalogue_title'). val(response['ISBN:'+isbn]['title']);
					$('#catalogue_description'). val(response['ISBN:'+isbn]['notes']);
				}
			}
		});
	});
});
</script>
{%endblock %}